<div class="container">
  <div class='row max-vh-100 justify-content-center align-content-center'>
    <h3 class='text-center'>Mensaje de error: {{message}} | Código de estado: {{statusCode}}</h3>
    <img src="assets/jungle-404.gif" alt="error message animation" class='col-sm-10 col-lg-6 img-fluid'>
    <pre>{{error.stack}}</pre>
    <a href="/">Volver</a>

  </div>
</div>