<div class="row bg-primary text-white">
  {{>navbar}}
  <div class="col-12 text-center">
    <h2>Esta es la Página Principal</h2>
    <p>El contenido de la home page se inserta en el layout main, ubicado en la carpeta layouts con el nombre main</p>
  </div>
</div>